*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
  color: white;
  background-image: url(images/dark.jpg);
  background-size: cover;
  background-position: center;
}
.container{
  width: 90%;
  max-width: 550px;
  padding: 30px;
 
  backdrop-filter: blur(5px);
 background: linear-gradient(180deg, #976e6e, #2e2d2d);
  background: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}
h1{
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
  text-shadow: 0 0 10px rgba(225, 225, 225, 0.15);
}
h2{
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
  text-shadow: 0 0 10px rgba(225, 225, 225, 0.15);
}
textarea{
  width: 90%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
  outline: none;
  margin-top: 10px;
}
.btn{
  margin-top: 15px;
  padding: 15px;
  width: 100px;
  border-radius: 8px;
  border: none;
  background: #4CAF50;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
}
.btn:hover{
 background: #5148ff;
 transform: scale(1.05);
 transition: 0.3s ease;
}
.response{
  margin-top: 15px;
  font-size: 20px;
  display: block;
 background: black;
 border-radius: 20px;
  padding: 10px;
  border-radius: 5px;
}
.response p{
  animation:  fadeIn 0.5s ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.container{
  animation: popIn 0.6s ease;

}
@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
